<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Patient details fillup page</title>
</head>
<body bgcolor="grey">
<form action="../p_reg_detail/" method="post">
    {%csrf_token%}
    <table>
            <tr>
                <td>name:</td><td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>age:</td><td><input type="text" name="age"></td>
            </tr>
             <tr>
                <td>emailId:</td><td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>bloodGroup:</td><td><input type="text" name="group"></td>
            </tr>
            <tr>
                <td>unit req:</td><td><input type="text" name="unit"></td>
            </tr>
           <tr>
                <td>phone_no:</td><td><input type="text" name="phone_no"></td>
            </tr>


    </table>
    <input type="submit" value="submit">

</form>

</body>
</html>